#page-content {
  li {
    list-style-type: '✨';
    list-style-position: inside;
  }
  p::first-letter {
    padding-inline-start: 2em;
  }
  table {
    thead {
      background-color: #000;
    }
    tbody tr:nth-of-type(4n) {
      background: repeating-linear-gradient(45deg, #000, transparent 100px);
    }
    tbody tr:nth-of-type(4n+1) {
      background: repeating-linear-gradient(135deg, #000, transparent 100px);
    }
    tbody tr:nth-of-type(4n+2) {
      background: repeating-linear-gradient(225deg, #000, transparent 100px);
    }
    tbody tr:nth-of-type(4n+3) {
      background: repeating-linear-gradient(315deg, #000, transparent 100px);
    }
    th,td{
      border: 1px solid #fff;
      padding: 4px 8px;
    }
  }
}
